/*
Weibo.com UserStyle by Mike(http://weibo.com/chagel) and original from:
http://userstyles.org/styles/51818/theme

Installation:
1. Install Stylish for your Chrome or Firefox.
2. Add a new style code with the content of this file, and match URL of weibo.com
3. Save and go to check http://weibo.com

Changes log:
1. remove advs and abstracted areas (Original)
2. remove logo, top menu and toolbar links
3. remove preview images in feed
4. add alternant background color

*/
ul[class="gnb_l"] { display: none !important; }
ul[id="ad_container"] { display: none !important; }
div[id="left_nav_div"] { display: none !important; }
div[class="right"] { display: none !important; }
div[id="medal_box"] { display: none !important; }
div[class="widgetIntroduce widgetH2"] { display: none !important; }
div[id="ads_35"] { display: none !important; }
div[name="app4"] { display:none !important; }
div[name="app20"] { display:none !important; }
div[name="app5"] { display:none !important; }
div[name="app6"] { display:none !important; }
div[name="app10003"] { display:none !important; }
div[id="ads_36"] { display:none !important; }
div[id="ads_37"] { display:none !important; }
div[class="f_pro"] { display:none !important; }
div[class="rightTxtList"] { display:none !important; }
div[id="ads_bottom_1"] { display:none !important; }
div[id="bottomborder"] { display:none !important; }
div[id=*pully_list"] { display: none !important; }
div[class=*missionBox"] { display: none !important; }

div[id="pully_list"] { display: none !important; }
div[class="header"] { display: none !important; }
div[class="tsina_gnbarea"] { display: none !important; }
li[class="MIB_linedot_l"]:hover {background:#eee;}
div[class="feed_preview"] { display: none !important; }