/*
[Neat Weibo]
Weibo.com UserStyle by Chagel(@滴博Mike).

Installation:
1. Install Stylish for your Chrome or Firefox.
2. Add a new style code with the content of this file, and match URL of weibo.com
3. Save and go to check http://weibo.com

Changes log:

== 2011-08-31
	- remove advs and abstracted areas (Original)
	- remove logo, top menu and toolbar links
	- remove preview images in feed
	- add alternant background color
	
== 2011-09-18
	- remove top event tip

== 2011-12-07
	- update for new weibo.com

== 2011-12-29
	- remove adv "登微博桌面 赢手机话费"

== 2012-10-19
	- For v5 

== 2012-10-19
	- 三栏变成两栏
	- 转发内容字数控制一行
	- 头像圆角
	- 去除背景图片竖条

== 2012-12-11
	- 显示搜索框
*/

/* top menu */
.gn_nav, 
#pl_leftnav_app,
div[node-type="member"],


/* middle */
.title_area,
#pl_content_publisherTop,
div[node-type="recommendTopic"],
#pl_content_biztips,
div[node-type="feed_nav"],

/* right sidebar */
#WB_webim,
#pl_rightmod_yunying,
#trustPagelet_recom_interestv5,
#pl_rightmod_ads35,
div[id^="trustPagelet_"],
#pl_rightmod_ads36,
#pl_rightmod_vservice,
#pl_rightmod_noticeboard,

/* footer */
.global_footer

 { display:none !important; }

/* header hack */
.WB_global_nav .gn_bg {background: ''; height: 20px}

.gn_search {margin-left: 150px;}

/* content img and font size*/
.WB_feed .chePicMin img{
	width:30px;
}
.WB_feed .WB_text{
	font-size:10.5pt;
}

/* repost length limit */
.WB_media_expand .WB_text{
	font-size: 12px;
	line-height: 19px;
/*	width:450px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;*/
}

/* hide names */
div.WB_info {
	display: none;
}

/* remove bg and adjust content body width*/
.W_main{
background-color:#fff;
background-image:url('http://');
}

.W_main_a{
background-color:#f6f6f6;
}

.W_main_c{
width:100%;
}

.WB_feed .WB_screen{
margin:0;
margin-right: 780px;
}

.W_miniblog{
padding-top:30px
}

/* radius avatar */
.WB_feed .WB_face img{
border-radius: 5px;
}


/* sidebar hack */
.W_main_r {width: 0px}
